<h1>Stupid Coaching</h1>

<blockquote>
  <cite>You</cite>
  <p>
    <% if @question.blank? %>
    "I am not sure what to ask"
    <% else %>
      <%= @question %>
    <% end %>
  </p>

</blockquote>

<blockquote class="coach">
  <cite>Your coach</cite>
  <p><%= @answer %></p>
</blockquote>

<%= link_to "Ask a new question", ask_path %>
